
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
<ion-header>
  <ion-toolbar class="ion-no-border">
    <ion-buttons class="ion-no-border" slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <svg class="back-blob" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
    <path fill="#FA4D56" d="M46.9,-67.3C57.5,-56.8,60.7,-38.8,65.7,-21.7C70.8,-4.6,77.9,11.5,74.6,25.1C71.4,38.7,57.8,49.8,43.6,51.3C29.5,52.8,14.7,44.8,-1,46.2C-16.8,47.7,-33.6,58.6,-47.7,57C-61.8,55.5,-73.2,41.5,-80.1,24.9C-87.1,8.3,-89.7,-10.8,-83.4,-26.2C-77.2,-41.7,-62.3,-53.4,-46.9,-62.3C-31.5,-71.3,-15.8,-77.4,1.2,-79.1C18.1,-80.7,36.3,-77.8,46.9,-67.3Z" transform="translate(100 100)" />
  </svg>
  <div class="title">
    <h1 class="custom-font">Admin Login</h1>
  </div>
  

  <form action="" class="ion-padding">
    
    <div class="wrap-input">

      <ion-input class="ion-padding" placeholder="Enter S-Code"></ion-input>
      <!-- <input class="input" type="text" placeholder="SR-Code"> -->


    </div>
    <div  class="wrap-input">
      <!-- <input class="input" type="password" placeholder="Password"> -->
      <ion-input class="ion-padding" type="password" placeholder="Password"></ion-input>
      
    </div>
    <div class="wrap-input checkbox">
      
      <input type="checkbox" name="check">
      <label for="check">Show Password</label>
    </div>
    
  
    <div class="container-form-button">
      <!-- <button ion-button class="form-btn">Login</button> -->
      <ion-button  class="button" (click)="login()">Login</ion-button>
    </div>

  </form>

  
  
    
  
  
</ion-content>



