<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="logo">
    <ion-avatar>
      <img src="../assets/photo.png">
    </ion-avatar>
  </div>
  <ion-text>
    <h1>Welcome to</h1>
    <p>BSU Mobile Help Desk</p>
  </ion-text>
  <svg class="back-svg" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
    <path fill="#FA4D56" d="M63,-26.9C68.4,-3.8,50.5,20.5,28.9,35C7.4,49.5,-17.7,54.2,-32.5,43.8C-47.3,33.3,-51.7,7.5,-44.5,-18C-37.4,-43.5,-18.7,-68.7,5.1,-70.3C28.8,-72,57.6,-50,63,-26.9Z" transform="translate(100 100)" />
  </svg>

  <div class="login-as">
    <p>Get started by logging in your <br> choice below:</p>

    <div class="buttons">
      <ion-button routerLink="/login" >
        Login as User
      </ion-button>

      <ion-button routerLink="/loginadmin" >
        Login as Admin
      </ion-button>

    </div>
    <svg class="bottom-svg" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
      <path fill="#FA4D56a7" d="M43.6,-58.6C56.6,-59.5,67.2,-47.5,63.4,-35C59.7,-22.6,41.5,-9.6,31.2,-1.4C20.9,6.8,18.3,10.3,18.6,23.7C18.8,37.2,21.8,60.7,14.7,73.7C7.5,86.7,-9.7,89.1,-19.9,80.3C-30.2,71.6,-33.6,51.8,-36,37.6C-38.4,23.3,-39.7,14.6,-48.6,2.4C-57.5,-9.8,-73.8,-25.5,-71.6,-33.6C-69.3,-41.7,-48.4,-42.3,-33.4,-40.4C-18.4,-38.6,-9.2,-34.3,3.1,-39.1C15.3,-43.9,30.6,-57.7,43.6,-58.6Z" transform="translate(100 100)" />
    </svg>

    <div class="footer">
      <small>In case you need help, <a routerLink="/login">Click Here</a></small>
    </div>
    
  </div>
</ion-content>
