*{
  text-decoration: none;
}


ion-text{
  position: absolute;
  top: 25%;
  
  h1{
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: 35px;
    color: rgb(27, 27, 27);
  }

  p{
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: rgb(27, 27, 27);
  }
}

ion-content{
  --background:rgba(247, 247, 247, 0.925);
  .logo{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }


  .login-as{
    
    margin-top: 180px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    

    p{
      text-align: center;
      font-family: 'Nunito', sans-serif;
      font-weight: 500;
      font-size: 14px;
      color: rgb(27, 27, 27);
    }


    .buttons{
      margin-top: 50px;
      width: 100%;
      display: flex;
      justify-content: center;
      
      ion-button{
        margin: 8px;
        font-family: 'Nunito', sans-serif;
        font-weight: 500;
        font-size: 16px;
        --background:#fa4d56;
        height: 50px;
        width: 150px;
        transition:.5s ;
      }
      ion-button:active{
        transform: translateY(-4px);
      }
    }


    .footer{
      display: flex;
      justify-content: center;
      margin-top: 150px;
      
      
      small{
        font-family: 'Nunito', sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: rgb(27, 27, 27);
      }
    }
  }
}


.back-svg{
  z-index: -1;
  position: absolute;
  left: -50%;
  top: 0;
  animation: fade-right 1s ease forwards;
  
}

@keyframes fade-right {
  from{
    opacity: 0;
    transform: translateX(-3rem);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}
.bottom-svg{
  z-index: -1;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 300px;
  width: 600px;
  animation: fade-left 1s ease forwards;
}

@keyframes fade-left {
  from{
    opacity: 0;
    transform: translateX(3rem);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}