<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">




<ion-header>
  <ion-toolbar>
    <ion-buttons class="ion-no-border" slot="start">
      <ion-back-button defaultHref="homepage"></ion-back-button>
    </ion-buttons>
    <ion-title>Update</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="form ion-padding" >

    <!-- cam delete this -->
    <!-- <div class="input-wrapper">
      
      <ion-label>User_ID</ion-label>
      
      <ion-input class="ion-padding" name="user_id" [(ngModel)]="user_id" placeholder="Enter ID" type="text"></ion-input>
    </div> -->


    <div class="input-wrapper">
      
      <ion-label>Set title</ion-label>
      
      <ion-input class="ion-padding" name="title" [(ngModel)]="title" placeholder="Enter Title" type="text"></ion-input>
    </div>


    <div class="input-wrapper">
      <ion-item>
        <ion-label>Set category</ion-label>
        <ion-select name="category" [(ngModel)]="category"  placeholder="Select category">
          <ion-select-option value="Registration Form">Registration Form</ion-select-option>
          <ion-select-option value="others">Others</ion-select-option>
          
        </ion-select>
      </ion-item>
    </div>

    <div class="input-wrapper">

      <ion-item>
        <ion-label>Set priority</ion-label>
        <ion-select name="priority" [(ngModel)]="priority" placeholder="Select">
          <ion-select-option value="Low">Low</ion-select-option>
          <ion-select-option value="Medium">Medium</ion-select-option>
          <ion-select-option value="High">High</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <div class="input-wrapper">
      <ion-label>Set description</ion-label>
      <ion-textarea name="description" [(ngModel)]="description" placeholder="Enter description here..."></ion-textarea>
    </div>

    <div class="input-wrapper">
      <ion-item>
        <ion-label>Set status</ion-label>
        <ion-select name="status" [(ngModel)]="status"  placeholder="Select">
          <ion-select-option value="Unsolved">In-progress</ion-select-option>
          <ion-select-option value="Solved">Solved</ion-select-option>
          
        </ion-select>
      </ion-item>
    </div>

    <div class="input-wrapper button">
      <ion-button (click)="update()" color="danger">Update</ion-button>
    </div>


  </div>


</ion-content>
