<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="homepage"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen='true'>
  <div class="main ion-padding" >
    <div class="list">


      <ion-label>Display </ion-label>
      <ion-item lines="none">
        <ion-icon name="phone-portrait"></ion-icon>
        <ion-label>Dark Mode</ion-label>
        <ion-toggle color="danger" (ionChange)='toggleTheme($event)'></ion-toggle> 
      </ion-item>
    </div>
    </div>
</ion-content> 
