*{
    font-family: 'Nunito', sans-serif;
}
ion-header{
    ion-toolbar{
        --background: linear-gradient(90deg,#fa676f,#FA4D56);



        ion-title{
            color: white;
        }
    }
    
}


ion-content{
    --background:rgba(247, 247, 247, 0.925);

    .form{
        margin-top: 60px;




        .input-wrapper{
            width: 100%;
            margin-bottom: 50px;

            ion-label{
                margin-bottom:5px;
                font-weight: 600;
                font-size: 1.1rem;
            }
            ion-label::after{
                content: '*';
                color: maroon;
            }


            ion-item{
                --background:transparent;
                width: 100%;
            }
            ion-input{
                --background:white;
                
                
                
                height: 60px;
                border: none;
                border-radius: 15px;
                margin-top: 10px;
                padding: 10px;
                font-size: 1.1rem;
                
                font-weight: 500;
            }
            ion-textarea{
                --background:white;
                height: 150px;
                padding: 10px;
                margin-top: 10px;
                
            }

            .button{
                display: flex;
                justify-content: center;
            
            }

        }
    }
}