<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">




<ion-header>
  <ion-toolbar>
    <ion-title>Help Desk Tickets</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" color="dark" autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="main-content">
    <div class="refresh ion-padding">

      <ion-icon (click)="getTickets()" slot="end" name="refresh-circle"></ion-icon>
    </div>
    
    <ion-card *ngFor="let ticket of tickets">
      <ion-card-header>
        <ion-card-subtitle>Ticket ID:{{ticket.id}} </ion-card-subtitle>
        <ion-card-title>{{ticket.title}}</ion-card-title>
      </ion-card-header>
    
      
      <ion-card-content>
        <h2>Priority: {{ticket.priority}}</h2>
        
        <h2>Status: {{ticket.status}}</h2>
        <br>

        <p>{{ticket.description}}</p>
        
        <hr>

        <div class="buttons">
          <ion-button (click)="delete(ticket.id)" color="danger"  fill="outline">
            <ion-icon slot="start" name="trash" ></ion-icon>Delete
          </ion-button>
          <ion-button (click)="update(ticket.id)" color="danger" fill="solid" style="float:right;">
            <ion-icon slot="start" name="arrow-up"></ion-icon>
            Edit
          </ion-button>
        </div>


      </ion-card-content>
    </ion-card>
    
    
    

  </div>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addticket()" color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  
  
</ion-content>


