*{
    font-family: 'Nunito', sans-serif;
}




ion-header{
    ion-toolbar{
        --background: linear-gradient(90deg,#fa676f,#FA4D56);



        ion-title{
            color: white;
        }
    }
    
}

ion-content{
    --background:rgba(247, 247, 247, 0.925);
    .refresh{
        height: 30px;
        
        
        display: flex;
        align-items: center;
        position: relative;

        ion-icon{
            margin-right: 10px;
        margin-top: 10px;
            font-size: 2rem;
            font-weight: 900;
            color: gray;
            position: absolute;
            right: 0;
        }
    }

    .main-content{

        ion-card{


            .buttons{

                border-top: 2px solid rgba(128, 128, 128, 0.699);
                padding-top: 10px;
            }
        }
    }
}


.active{
    color: #FA4D56;
}



ion-footer{
   
    
    ion-toolbar{
        
        
        ion-fab-button{
            position: absolute;
        }

        
        
    }
}



