
<ion-tabs>
  <ion-tab-bar  slot="bottom">
    <ion-tab-button  tab="homepage">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
      
    </ion-tab-button>

    <ion-tab-button tab="messages" >
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Messages</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    
  </ion-tab-bar>
</ion-tabs>
