.header{
    height: 140px;
    width: 100%;
    background: #FA4D56;
    background: linear-gradient(90deg,#fa676f,#FA4D56);
    
    
    display: flex;
    align-items: center;
    padding: 10px;
    ion-label{
        margin-top:30px ;
        margin-left: 10px;
        h2{
            font-size: 1.2rem;
            font-weight: 900;
            font-family: 'Nunito', sans-serif;
            color: rgb(255, 255, 255);
            
        }
        p{
            
            color: rgb(27, 27, 27);
            font-family: 'Nunito', sans-serif;
        }

    }
    
    img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border :7px solid #f8363f ;
    }
}

ion-content{
    

    .action{
        
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;

        ion-button{
            --background:#FA4D56;
            font-family: 'Nunito', sans-serif;

        }
    }
    
    ion-item{
        padding-left: 20px;
        margin-bottom: 10px;
        padding: 10px;
        font-family: 'Nunito', sans-serif;
        font-size: 18px;
        font-weight: 700;
        color: rgb(48, 48, 48);

        ion-icon{
            color: rgb(48, 48, 48);
        }
        
    }
    ion-item:active{
        color:#FA4D56 ;
        border-right:7px solid #FA4D56 ;
    
        ion-icon{
            color:#FA4D56 ;
        }
    
    }
}

.active{
    color:#FA4D56 ;
    border-right:7px solid #FA4D56 ;
    
}

