<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">


<ion-app>

  <ion-menu autoHide="true" menu-id="main-menu" content-id="main">
    <ion-content>
      <div class="header">
        <img src="../assets/photo.png" alt="">
        
        <ion-label>

        
          <h2>Name: Khen Maranan </h2>
          <p>Student-ID: 18-52647</p>
        </ion-label>
        
      </div>
      <div class="action">

        <ion-button>
          <ion-icon slot="start" name="star"></ion-icon>Rate Me
        </ion-button>
      </div>
      <ion-list lines="none">
        <ion-item class="active">

          <ion-icon   slot="start" name="home"></ion-icon> Home
        </ion-item>

        <ion-item routerLink="/messages">
          

          <ion-icon  slot="start" name="chatbubbles"></ion-icon> Chat

          <ion-badge slot="end">1</ion-badge>
        </ion-item>
        <ion-item routerLink="/settings">

          <ion-icon slot="start" name="cog" ></ion-icon> Settings
        </ion-item>
        <ion-item>

          <ion-icon slot="start" name="alert"></ion-icon> About
        </ion-item>
        <ion-item routerLink="/home">

          <ion-icon slot="start" name="log-out"></ion-icon> Log out
        </ion-item>

      </ion-list>

    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
