ion-header{
    ion-toolbar{
        --background:transparent;
        padding:8px;
    }
    
}

.bold{
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
  .custom-font{
  
    font-family: 'Roboto', sans-serif;
  }
  
    
    
    
    
  
  
  ion-content{
    --background:rgba(247, 247, 247, 0.925);
    --overflow:scroll;
  
    .title{
      margin-top: 100px;
      
      display: flex;
      justify-content: center;
      h1{
        font-weight: 600;
        font-family: 'Nunito', sans-serif;
        position: relative;
        font-size: 35px;
        animation: fade 2s ease forwards;
        color: rgb(27, 27, 27);
      }
  
      h1::before{
        content: '';
        position: absolute;
        inset: 0;
        background-color:#FA4D56;
        animation: type 1s steps(13) 1s forwards;
      }
      h1::after{
        content: '';
        position: absolute;
        inset: 0;
        width: 2px;
        background-color:rgb(32, 32, 32);
        animation: type 1s steps(13) 1s forwards,
        blink 500ms 1s infinite;
      }
  
      @keyframes blink {
        from{
          opacity: 1;
        }
        to{
          opacity: 0;
        }
      }
      @keyframes type {
        
        to{
          
          left: 100%;
        }
      }
    }
  
    .back-blob{
      z-index: -1;
      width: 600px;
      position: absolute;
      left: -50%;
      animation: fade 1s ease forwards;
  
      
      
    }
    .bottom-svg{
      z-index: -1;
      width: 600px;
      position: absolute;
      right:-50%;
      animation: fadeopposite 1s ease forwards;
    }
    @keyframes fade {
      from{
        transform: translateX(-2rem);
        opacity: 0.8;
      }
      to{
        opacity: 1;
        transform: translateX(0rem);
      }
      
      
    }
    @keyframes fadeopposite {
      from{
        transform: translateX(2rem);
        opacity: 0;
      }
      to{
        opacity: 1;
        transform: translateX(0rem);
      }
    }
    .form{
      margin-top: 60px;
      ion-item{
        --background:transparent;
        --border: none;
      }
      
  
    }
  
    .checkbox{
      display: flex;
      align-items: center;
      label{
        margin-left: 10px;
        --color: rgb(27, 27, 27);
      }
      input{
        width: 20px;
        height: 20px;
      }
    }
    .wrap-input{
      width: 100%;
      margin-bottom: 50px;
      
    }
    ion-input{
      width: 100%;
      height: 65px;
      border: none;
      border-radius: 15px;
      background-color: rgb(255, 255, 255);
      padding: 10px;
      font-size: 1.3rem;
      font-family: 'Nunito', sans-serif;
      font-weight: 500;
      
    }
    .container-form-button{
      width: 100%;
      display: flex;
      justify-content: center;
      ion-button{
        width: 40%;
        height:60px ;
        font-size: 1.2rem;
        font-family: 'Nunito', sans-serif;
        letter-spacing: 1px;
        --background: #FA4D56;
        font-weight: 600;
        border-radius: 40px;
        transition: .2s;

        
      }
      ion-button:active{
        transform: translateY(-4px);
      }
    
    }
    p{
      padding:20px 0 46px 0;
      font-weight: 900;
      font-size: 1rem;
      margin-top: 120px;
      color: rgb(27, 27, 27);
      
    }
  
  
  }
  

  @media screen and (min-width:750px) {
    ion-content{
        --background:rgba(247, 247, 247, 0.925);
        --overflow:scroll;
      
        .title{
          margin-top: 100px;
          
          display: flex;
          justify-content: center;
          h1{
            font-weight: 1000;
            font-family: 'Nunito', sans-serif;
            position: relative;
            font-size: 3.5rem;
            animation: fade 2s ease forwards;
            color: rgb(27, 27, 27);
            width: max-content;
          }
      
          h1::before{
            content: '';
            position: absolute;
            inset: 0;
            background-color:rgba(247, 247, 247);
            animation: type 1s steps(13) 1s forwards;
          }
          h1::after{
            content: '';
            position: absolute;
            inset: 0;
            width: 2px;
            background-color:rgb(32, 32, 32);
            animation: type 1s steps(13) 1s forwards,
            blink 500ms 1s infinite;
          }
        }
        .back-blob{
            z-index: -1;
            width: 600px;
            position: absolute;
            left: -15%;
            animation: fade 1s ease forwards;
        
            
            
          }
          .bottom-svg{
            z-index: -1;
            width: 600px;
            position: absolute;
            right:-10%;
            animation: fadeopposite 1s ease forwards;
          }
          form{
            margin-top: 60px;
            ion-item{
              --background:transparent;
              --border: none;
            }
            
        
          }
        
          .checkbox{
            display: flex;
            align-items: center;
            label{
              margin-left: 10px;
              font-size: 1.5rem;
              --color: rgb(27, 27, 27);
            }
            input{
              width: 20px;
              height: 20px;
            }
          }
          .wrap-input{
            width: 100%;
            margin-bottom: 50px;
            
          }
          ion-input{
            width: 100%;
            height: 90px;
            border: none;
            border-radius: 15px;
            background-color: rgb(255, 255, 255);
            padding: 10px;
            font-size: 2rem;
            font-family: 'Nunito', sans-serif;
            font-weight: 500;
            
          }
          .container-form-button{
            width: 100%;
            display: flex;
            justify-content: center;
            ion-button{
              width: 40%;
              height:80px ;
              font-size: 2rem;
              font-family: 'Nunito', sans-serif;
              letter-spacing: 1px;
              --background: #FA4D56;
              font-weight: 600;
              border-radius: 40px;
              transition: .2s;
      
              
            }
            ion-button:active{
              transform: translateY(-4px);
            }
          
          }
          p{
            padding:20px 0 46px 0;
            font-weight: 900;
            font-size: 1.5rem;
            margin-top: 120px;
            color: rgb(27, 27, 27);
            
          }
    }
  }