<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">

<ion-header>
  <ion-toolbar>
    <ion-buttons class="ion-no-border" slot="start">
      <ion-back-button defaultHref="homepage"></ion-back-button>
    </ion-buttons>
    <ion-title>Message</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="messages ion-padding">

  


    <ion-grid class="ion-padding" *ngFor ="let sched of schedule">
      <ion-row *ngFor ="let messages of messages" >
        <ion-col size="9" *ngIf="current_user!==messages.user_id" class="message otherMessages">
          <b>{{ messages.user_id }}</b>
          <br>
          <span>{{messages.message}}</span>
          <div class="time" text-right>
            <br>
            {{messages.date }}
          </div>
        </ion-col>

        <br>
        <ion-col  offset="3" size="9" *ngIf="current_user===messages.user_id"  class="message myMessages">
          <b>{{ messages.user_id }}</b>
          <br>
          <span>{{messages.message}}</span>
          <div class="time" text-right>
            <br>
            {{messages.date}}
          </div>
        </ion-col>
        <ion-col  size="9" *ngIf="messages.message=='Are you open?'"  class="message otherMessages">
          <b>Staff</b>
          <br>
          <span>Yes</span>
          <div class="time" text-right>
            <br>
            Time
          </div>
        </ion-col>

         <ion-col  size="9" *ngIf="messages.message=='Where to get Registration Form?'"  class="message otherMessages">
          <b>Staff</b>
          <br>
          <span>At the SA in Alangilan</span>
          <div class="time" text-right>
            <br>
            Time
          </div>
        </ion-col>
        <ion-col  size="9" *ngIf="messages.message=='Are you gay?'"  class="message otherMessages">
          <b>Staff</b>
          <br>
          <span>Yes</span>
          <div class="time" text-right>
            <br>
            Time
          </div>
        </ion-col>
        <ion-col   size="9" *ngIf="messages.message=='Whats my schedule?'"  class="message otherMessages">
          <b>Staff</b>
          <br>
          <div class="schedule" *ngFor="let sched of schedule" >
            
            <span>{{sched.subject}}=> {{sched.schedule}}</span>
          </div>
          
          <div class="time" text-right>
            <br>
            Time
          </div>
        </ion-col>
      </ion-row>
      
    </ion-grid>

</div>

</ion-content>
<ion-footer>
  
    <div class="chatbox ">
      <textarea [(ngModel)]="message" autosize maxRows="2" class="" placeholder="Enter messages"></textarea>

      <ion-button (click)="sendMessage()" fill="outline" color="danger"><ion-icon name="send"></ion-icon></ion-button>
    </div>
  
</ion-footer>



