*{
    font-family: 'Nunito', sans-serif;
}

ion-header{
    ion-toolbar{
        --background: linear-gradient(90deg,#fa676f,#FA4D56);



        ion-title{
            color: white;
        }
    }
    
}


ion-content{
    --background:rgba(247, 247, 247, 0.925);
}

.message{
    margin-bottom: 15px;
    border-radius: 10px;
    white-space: pre-wrap;
    
    

    b{
        font-style: italic;
    }
    span{
        font-size: 1.4rem;
    }
    .time{

        font-size:.8rem;
    }
}

.myMessages{
    
    background: #FA4D56;
    text-align: end;
    color: rgb(31, 31, 31);
    box-shadow: inset 0px 0px 10px 0px #ff7979;
    
}



.otherMessages{
    background: gray;
    color: rgb(31, 31, 31);
}

ion-footer{
    
    box-shadow: 0px 0px 10px rgb(116, 116, 116);
    .chatbox{
        height: 100%;
        width: 100%;
        padding: 7px;
        display: flex;
        align-items: center;
        justify-content: space-between;
            

        textarea{
            --background:rgb(233, 233, 233);
            width:70%;
            height: 45px;
            border-radius: 10px;
            resize: none;
            font-size: 1.2rem;
        }
        ion-button{
            margin-left: 2px;
        }
    }
    
}
